*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2018/08/31/18/17/fantasy-3645263__340.jpg);
}
.container{
    background-color:#B40404;
    width: 300px;
    height: 400px;
    top: 50%;
    left: 50%;
     margin-top: -200px;
    margin-left: -150px;
    position: absolute;
    opacity: 0.5;

}
.heading{
    padding-bottom: 20px;
    color: aliceblue;
    font-family: 'Times New Roman';
}
.text{
    margin-bottom: 20px;
   
}
text:hover{
  opacity: 1.0;  
}

